*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.startup-info{
    border: 2px solid red;
    text-align: center;
    display: flex;
    justify-content: center;
    
}
.card{
   border-radius: 15px !important;
    
}